<ion-header>
<ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Colors -->
<ion-fab center top>
  <button ion-fab color="primary" (click)=  "pausar(true, true)">
    <ion-icon name="play" ></ion-icon> </button>
</ion-fab>  
<ion-fab right top>
  <button ion-fab color="primary" (click)=  "pausar(false, false)">
    <ion-icon name="pause" ></ion-icon> </button>
</ion-fab>

<div id="container" style="display: block; padding-top: 60px;"	></div>


</ion-content>
